/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 523px;

// Small tablets (portrait view)
$screen-md-min: 715px;

// Tablets and small desktops
$screen-lg-min: 1200px;


// Large tablets and desktops
$screen-xl-min: 1420px;

// Colors
$white: #fff;
$black: #000;
$accents:#01C2D3;
